<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styless.css' %}">
    <title>To Do List App</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="mt-20">
        <div class="boxx">
            <div class="header">
            <p> <a href="{% url 'logout' %}"><button class="text-black hover:bg-blue-600 rounded-md">Logout</button></a>&nbsp;&nbsp;  
                <form method="get">
                        {% csrf_token %}
                        <input type="text"  placeholder="Search" name="search" value="{{search}}"/>
                        <a><button class="text-black hover:bg-blue-600 rounded-md">Search</button></a>
                </form>
            </p>
            </div>
            <h1 class="text-4xl text-black-500" style="text-decoration: underline;">Welcome {{user.username}}</h1>
            <h2 class="text-2xl">
                Lets work on ure tasks &#128516;:
            </h2>
            {% if incomplete %}
            <br>
            <hr>
            <h3>You have {{incomplete}} incomplete tasks</h3>
            <hr>
            {% else %}
            {% endif %}
            <br>
            {% for task in task %}
                <h3>
                    <div class="sl">
                    <div class="text-2xl">{{task.title}}</div>
                        <div class="button" style="margin-left: 20px;">
                        <a href="{% url 'task:task-view' task.id %}">
                            <button class="text-black hover:bg-blue-600 rounded-md">ViewTask</button>
                        </a>
                        <a href="{% url 'task:task-edit' task.id %}">
                            <button class="text-black hover:bg-blue-600 rounded-md">EditTask</button>
                        </a>
                        <a href="{% url 'task:task-delete' task.id %}">
                            <button class="text-black hover:bg-blue-600 rounded-md">DeleteTask</button>
                        </a>
                    </div>
                    </div>
                </h3>
            {% empty %}
            <h2>Hmmmmmmmm No Tasks..... Why not create a task? &#128513;</h2>
            {% endfor %}
            <br>
            <br>
                <h3><a href="{% url 'task:create' %}">
                    <button class="mt-2 w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
                        Create Task
                    </button>
                </a>
            </h3>
        </div>
    </div>
    </div>
    {% endblock %}
</body>
</html>